.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 90%;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.listado {
  color: #378fee;
  border: 1px #378fee solid;
}

.arbol {
  color: #d3d3d3;
  border: 1px #d3d3d3 solid;
  padding: 3px 10px;
}

.subDivisiones {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
}

.subDivisionesIcon {
  margin-left: 30px;
  color: #5bcbb2;
}
